section {
  padding: 15px;
}

button {
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
  color: indigo;
  background-color: aliceblue;
  outline: none;
  border: none;
  border-radius: 15%;
  transition: background-color, 250ms, cubic-bezier;
}

button:hover {
  background-color: darkgray;
}
